body{
	background-color: white;
}

h1{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: black;
}

.nav ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: auto;
	background-color: #444;
}

.nav li {
	float: left;
}

.nav a {
	display: block;
	padding: 8px;
	background-color: #444;
}

.nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav li a:hover {
	background-color: #111;
}

.active {
	background-color: maroon;
}

.nav {
	background color: #444;
}

img {
	display: block;
}

